---
// main layout
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Products" description="Products overview">
  <section class="site-container mx-auto pt-36 md:pt-44">
    <h1 class="h1 text-center">Products</h1>
    <p class="description mx-auto mt-6 max-w-2xl text-center">
      This is a stub Products page. Replace with real content.
    </p>
  </section>
</BaseLayout>

